body{
  font-family: 'Montserrat';

}

h1
{  font-family: 'Montserrat-Black';
 font-size: 3rem;
line-height: 1.5;
 font-weight: bold;
}


#title{
  background-color: #ff4c68;
  color: #fff;
}


.container-fluid {

padding: 3% 15%;
}

.navbar-brand{
  font-family: "Ubunty";
  font-size: 2.5rem;
  font-weight: bold;
}


.navbar{
  padding: 0 0 2rem 0
}



.nav-item{
position: relative;
left: 350px;
padding-right: 30px
}

.navbar-brand{
position: relative;
right: 60px
}

.nav-item{
  font-size: 1.2rem
}


.nav-link active{
  font-family: 'Montserrat-light';
}


.download-button{
  margin: 5% 3% 5% 3%
}


.main-img{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  left: 60%;
  z-index: 0;

}



h3{
  font-family: "Montserrat-bold";
  font-size: 1.4rem;
  font-weight: bold;
}

h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  font-weight: bold;
}


p{
  color: #8f8f8f;
  font-weight: 600;


}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#features i{
  font-size: 50px;
  color: #ef8172;
  margin-bottom: 10px
}


#features i:hover{
  color: red;
}


.f-box{
text-align: center;
padding: 5%
}



#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
  font-weight: bold;
}


.testimonial-img{
  width: 10%;
  border-radius: 100%;
  padding: 20px;
}


#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%

}

.carousel-item{
  padding: 7% 15%;

}

.img-press{
  width: 15%;
  margin: 20px 20px 50px;
}


.db-bk-color-one {
    background-color: #ff4c68;
}

.db-bk-color-two {
    background-color: #ff4c68;
}

.db-bk-color-three {
    background-color: #ff4c68;
}

.db-bk-color-six {
    background-color: #F59B24;
}


.db-padding-btm {
    padding-bottom: 50px;
    padding-top: 30px
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }


#pricing{
  width: 70%;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px
}




@media (max-width: 1028PX) {


  #title{
    text-align: center;
  }

  .main-img{
    position: static;
    width: 40%;
    padding: 20PX 0;
align-items: center;
margin-left: auto;
margin-right: auto;
display:flex;
transform: rotate(0);
  }


}



#cta{
  background-color: #ff4c68;
  padding: 70PX 20PX;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
text-align: center;
}

#cta H3{
  color: WHITE;
  font-family: 'Montserrat-Black';
  margin-bottom: 30PX;
  font-size: 40PX;
  font-weight: bold;
}


#cta button{
  margin: 0 10px;
  margin-top: 20px
}

#footer{
  text-align: center;
  font-size: 12PX;
  padding: 20PX 0;
}
